* {
    margin: 0;
    padding: 0;
}

.header-area1 {
    background: #00BBF5;
}

.Search {
    height: 50px;
}

.header-area3 {
    background-color: #1C3481;
}

.content-top {
    text-transform: uppercase;
}

.content-top p {
    font-size: 20px;
    word-spacing: 7px;
}

.content-right1 {
    text-transform: capitalize;
    height: 200px;
}


.p1 {
    text-transform: capitalize;
}

.p1 span {
    background: #1C399D;
    color: #fff;
    margin-bottom: 0;
}

.heading1 {
    color: #333333;
    font-size: 3rem;
}

.heading1 span {
    font-weight: 700;
}

.p2 {
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 4px;
    word-spacing: 6px;
    font-weight: 700;
}

.p2 span {
    color: #5E71B5;
}

.heading2 {
    color: #000000;
    text-transform: capitalize;
    margin-bottom: 7px;
}

.p3 {
    color: #778BA1;
}

.p4 {
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 0;
}

.arrow {
    float: right;
    color: #000;
    font-size: 25px;
}

.product1 {
    height: 200px;
}

.product2 {
    top: 0;
    bottom: 0;
    margin: auto;

}

.footer-left {
    width: 30%;
    border-right: 1px solid gray;
}

.footer-right {
    width: 70%;
}

.email {
    float: right;
    width: 300px;
}

.footer1 {
    width: 30%;
    align-items: center;
    text-transform: uppercase;
}

.footer1 a {
    text-decoration: none;
    color: #000000;
}














.main-content {
    overflow: hidden;
}

.content-left {
    float: left;
    overflow: visible;
}

.content-right {
    float: left;
}


@media (max-width: 767px) {
    body {
        background: #fff;
    }
}

@media (min-width: 768) and (max-width: 991px) {
    body {
        background: #fff;
    }
}

@media (min-width: 992px) and (max-width:1199px) {
    body {
        background: #fff;
    }
}

@media (min-width: 1200px) {
    body {
        background: #fff;
    }
}